<div class="card">
  <div class="card-content">
    <h4><%= "Job Information for #{@job.name}" %></h4>
    <% unless @job.description.nil? %>
      <b>Description: </b><%= @job.description %>
    <% end %> 
    <br>
    
  </div>
</div>