<h4>Jobs</h4>
<% if @jobs.empty? %>
  <h5>No Jobs in the system at this time</h5>
<% else %>
  <div class="card">
    <div class="card-content">
      <table class="striped highlight">
        <thead>
          <th>Name</th>
          <th>Description</th>
          <th>Active</th>
        </thead>

        <tbody>
          <% @jobs.each do |job| %>
            <tr>
              <td><%= link_to job.name, job_path(job) %></td>
              <td><%= job.description unless job.description.nil? %></td>
              <td><%= job.active ? "Yes" : "No" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>