<h5>Generate Payroll Report</h5>

<%= simple_form_for :date_range, url: store_report_path do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :store_id, collection: @stores %>
<% end %>