<h4>Schedule</h4>
<div class="row">
  <div class="col s12">

    <%= month_calendar events: @shifts do |date| %>
      <em><%= date.day %></em>

      <% current_days_shifts = get_shifts_for_day(date) %>
      <% Store.alphabetical.each do |store| %>
        <% if current_days_shifts.for_store(store).size > 0 %>
          <div><strong><%= link_to store.name, store %></strong>: <%= current_days_shifts.for_store(store).size %></div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>