<div class="row">
  <div class="col s12">
    <%= month_calendar(attribute: :date, events: @shifts) do |date, shifts| %>
      <%= date.day %>

      <% shifts.each do |shift| %>
        <div>
          <%= shift.employee.name %>
          <%= "#{shift.start_time} - #{shift.end_time}" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>