<h4 class= "text-align center">Latest Pay Report</h4>
<table class="striped highlight">
  <thead>
    <th>Dates</th>
    <th>Hours</th>
    <th>Pay Earned</th>
  </thead>
  <tbody>
    <tr>
      <td><%= "#{@calc.start_date.strftime("%D")} - #{@calc.end_date.strftime("%D")}"%></td>
      <td><%= @payroll.hours %></td>
      <td><%= "$#{sprintf('%.2f', @payroll.pay_earned.ceil(2))}" %></td>
    </tr>
  </tbody>
</table>