<% if punch_in? || punch_out? %>
<div class="card">
  <div class="card-content">
    <% punch_in? ? text = "CLOCK IN" : text = "CLOCK OUT" %>
      <%= link_to text, punch_clock_path, method: :patch %><br>
      <%= text ==  "CLOCK IN" ? "Scheduled: #{@shift.start_time.strftime("%R")}" : "Scheduled: #{@shift.end_time.strftime("%R")}" %>
  </div>
</div>
<% end %>