
<% if punch_in? || punch_out? %>
  <div class="card">
    <div class="card-content">
      <div class="row">
        <div class="col s8">
          <% punch_in? ? text = "Clock In ->" : text = "Clock Out ->" %>
          <h4 class= "text-align center"><%= text %></h4>
          <br>
        </div>
        <div class="col s4">
          <%= link_to punch_clock_path, method: :patch do %>
          <i class="large material-icons">access_time</i>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col s8">
          <h5 class="text-align center">Scheduled:</h5>
        </div>
        <div class="col s4">
          <h5><%= text ==  "CLOCK IN" ? "#{@shift.start_time.strftime("%R")}" : "#{@shift.end_time.strftime("%R")}" %></h5>
        </div>
      </div>
    </div>
  </div>
<% end %>