<h4 class="text-align center">Quick Add</h5>
<div class="row">
  <div class="col s4 align center">
    <%= link_to new_employee_path do %>
    <i class="large material-icons">person</i><%end%>
  </div>
  <div class="col s4 align center">
    <%= link_to new_store_path do %>
    <i class="large material-icons">store</i><%end%>
  </div>
  <div class="col s4 align center">
    <%= link_to new_assignment_path do %>
    <i class="large material-icons">assignment</i><%end%>

  </div>
</div>