<% unless @shift.report_completed? %>
  <h5>No Jobs have been recorded for this Shift</h5>
<% else %>
  <div class="card">
    <div class="card-content">
      <h5>Recorded Jobs</h5>
        <table>
          <thead>
            <th>Job</th>
            <th>Description</th>
            <th>Options</th>
          </thead>

          <tbody>
            <% @shift_jobs.each do |sj| %>
              <tr>
                <!-- TO DO: MAKE LINK TO JOB SHOW PAGE -->
                <td><%= sj.job.name %></td>
                <td><%= sj.job.description %></td>
                <td><%= link_to(destroy_shift_job_path(id: sj.id), method: :patch) do %>
                      <i class="material-icons">delete</i>
                    <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

    </div>
  </div>
<% end %>