<div class="card">
  <div class="card-content">
    <h5>Pay Grades</h5>

    <% if @pay_grades.empty? %>
      <p>There are no pay grades at this time.</p>
    <% else %>

      <table class="striped highlight">
        <thead>
          <th>Level</th>
          <th>Current Pay Rate</th>
        </thead>
        <% @pay_grades.each do |pay_grade| %>
          <tr %>
            <td><%= pay_grade.level %></td>
            <% if pay_grade.pay_grade_rates.empty? %>
              <td>n/a</td>
            <% else %>
              <td><%= pay_grade.pay_grade_rates.current.first.rate %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
      <p class="supertiny"></p>
    <% end %>
  </div>
</div>