<div class="card">
  <div class="card-content">
    <h5>Pay Grade Rates</h5>

    <% if @pay_grades.empty? %>
      <p>There are no pay grade rates at this time.</p>
    <% else %>
      <table class="striped highlight">
        <thead>
          <th>Pay Grade</th>
          <th>Rate</th>
          <th>Start Date</th>
          <th>End Date</th>
        </thead>
        <% @pay_grades.each do |pay_grade| %>
          <% pay_grade.pay_grade_rates.chronological.each do |pgr| %>
            <tr %>
              <td><%= pay_grade.level %></td>
              <td><%= pgr.rate %></td>
              <td><%= pgr.start_date.strftime("%D") %></td>
              <% if pgr.end_date.nil? %>
                <td>n/a</td>
              <% else %>
                <td><%= pgr.end_date.strftime("%D") %></td>
              <% end %> 
            </tr>
          <% end %>
        <% end %>
      </table>
      <p class="supertiny"></p>
    <% end %>
  </div>
</div>